<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Activity registration</title>
</head>
<body>
    <h1 align="center">Welcome</h1>
    <h2>This website is made for registration the activity the students of 9th b wanted to do as per instruction of Respected Sushmita Ma'am</h2>
    <form class = "box" action="#" method="post">
        <input type="text" name="name" id="name" placeholder="enter your name">
        <input type="text" name="activity" id="activity" placeholder="enter your activity">
        <input type="submit" value="submit">
    </form>
</body>
</html>
